// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.contact_section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.contact_section_dark a,
.contact_section_dark a:link,
.contact_section_dark a:visited {
  color: $light-grey;
  margin-right: 30px;
  .contact_section_dark a:hover {
    color: $brand-color;
  }
}

.contact_section_light a,
.contact_section_light a:link,
.contact_section_light a:visited {
  color: $really-dark-grey;
  margin-right: 30px;
  .contact_section_light a:hover {
    color: $brand-color;
  }
}

.contact-link {
  margin: auto auto 40px 0;
}

.copyright {
  text-align: center;
}

@include mq(medium) {
  .contact_section {
    flex-direction: row;
  }
}
