// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// .main-grid {
//   display: grid;
//   grid-template-rows: repeat(10% 30% 45% 5%);
// }

.theme_dark {
  background-color: $really-dark-grey;
  color: $light-grey;
}

.contact-section-home a,
a:link,
a:visited {
  color: $light-grey;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.top-wrap {
  margin-bottom: 325px;
}

.case-template {
  margin: 170px auto;
}

.project-container {
  .project-title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .project-type {
    text-align: left;
    font-weight: $font-weight-semi-bold;
  }

  .project-date {
    font-weight: $font-weight-light;
  }

  .project-img {
    width: 100%;
  }
}

.home-underline {
  margin-top: 10px;
  border-bottom: 4px solid $light-grey;
  width: 5%;
}

.read-more-btn {
  margin-top: 60px;
}

@include mq(medium) {
  .top-wrap {
    height: 900px;
  }
}

@include mq(large) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px auto;
    .project-title {
      font-weight: 700;
      text-transform: uppercase;
      margin: auto 0;
    }
    .project-type {
      margin: auto;
      align-self: center;
      justify-self: center;
      font-weight: 300;
    }
    .project-date {
      font-weight: 300;
      margin-top: 60px;
    }
    a {
      display: grid;
      .project-img {
        width: 180%;
        margin: 45px auto auto 0;
      }
    }

    .project-description {
      text-align: left;
      font-weight: 300;
      grid-column: 3;
    }
  }
}
