/**
 * Basic typography style for copy text
 */

body {
  font-size: $text-body-font-size;
  font-weight: $font-weight-semi-bold;
}

li {
  font-size: $text-body-font-size;
  font-weight: $font-weight-semi-bold;
  font-family: $text-font-stack-secondary;
}
h1,
h2 {
  font-family: $text-font-stack-primary;
  font-weight: $font-weight-bold;
}

h3 {
  font-family: $text-font-stack-primary;
  font-weight: $font-weight-normal;
  text-transform: capitalize;
}
h4 {
  font-family: $text-font-stack-primary;
  font-size: $text-body-font-size;
  font-weight: $font-weight-normal;
}

h1 {
  font-size: $heading1-text-size-mobile;
}

h2 {
  font-weight: $font-weight-bold;
  font-size: $heading2-text-size-mobile;
}

h3 {
  font-weight: $font-weight-bold;
  font-size: $heading3-text-size-mobile;
}

h4 {
  font-weight: $font-weight-semi-bold;
  font-size: $heading4-text-size-mobile;
}

p {
  font-family: $text-font-stack-secondary;
  line-height: 1.3;
}

.copyright {
  font-size: $secondary-text-font-size;
}

button {
  font-family: $text-font-stack-primary;
}

a.nav-el-light,
a.nav-el-light:link,
a.nav-el-light:visited {
  font-family: $text-font-stack-primary;
  text-transform: uppercase;
}

a.nav-el-dark,
a.nav-el-dark:link,
a.nav-el-dark:visited {
  font-family: $text-font-stack-primary;
  text-transform: uppercase;
}
.contact_section a,
.contact_section:link a,
.contact_section:visited a {
  font-family: $text-font-stack-primary;
  text-transform: uppercase;
}

@include mq(medium) {
  h1 {
    font-size: $heading1-text-size-mobile + 2rem;
  }
  h2 {
    font-size: $heading2-text-size-mobile + 2.5;
  }
  h3 {
    font-size: $heading3-text-size-mobile + 1;
  }
  h4 {
    font-size: $heading4-text-size-mobile + 0.3;
  }
}

@include mq(large) {
  h1 {
    font-size: $heading1-text-size-mobile + 3.5rem;
  }
  h2 {
    font-size: $heading2-text-size-mobile + 3;
  }
  h3 {
    font-size: $heading3-text-size-mobile + 1.5;
  }
  h4 {
    font-size: $heading4-text-size-mobile + 0.7;
  }

  p,
  li {
    line-height: 1.5;
  }

  .secondary-title {
    font-size: $text-body-font-size + 0.3rem;
    font-weight: $font-weight-light;
  }
}
